.popup__header {
  margin: calc(100vw/(1280/34)) calc(100vw/(1280/64)) calc(100vw/(1280/37.21)) calc(100vw/(1280/36));
  font-style: normal;
  font-weight: 900;
  font-size: calc(100vw/(1280/24));
  line-height: calc(100vw/(1280/29));
}

@media screen and (max-width: 320px) {
  .popup__header {
    margin: calc(100vw/(320/25)) auto calc(100vw/(320/75));
    font-size: calc(100vw/(320/18));
    line-height: calc(100vw/(320/22));
  }
}
