.popup__submit {
  margin: calc(100vw/(1280/48)) auto calc(100vw/(1280/37));
  padding: calc(100vw/(1280/14)) 0;
  width: calc(100vw/(1280/358));
  background: #000000;
  border: 0;
  border-radius: calc(100vw/(1280/2));
  font-style: normal;
  font-weight: normal;
  font-size: calc(100vw/(1280/18));
  line-height: calc(100vw/(1280/22));
  text-align: center;
  color: #FFFFFF;
}

.popup__submit:hover {
  opacity: 0.8;
}

@media screen and (max-width: 320px) {
  .popup__submit {
    margin: calc(100vw/(320/45)) auto calc(100vw/(320/25));
    padding: calc(100vw/(320/14)) 0;
    width: calc(100vw/(320/238));
    border-radius: calc(100vw/(320/2));
    font-size: calc(100vw/(320/14));
    line-height: calc(100vw/(320/17));
  }
}
