.profile__photo {
  object-fit: cover;
  max-width: 127.5px;
  max-height: 127.5px;
  border-radius: 50%;
}

@media screen and (max-width: 880px) {
  .profile__photo {
    margin: calc(100vw/(320/38.25)) 0 calc(100vw/(320/22.25)) 99px;

  }
}
