.footer {
  display: grid;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  margin: 0 auto;
  width: calc(100vw/(1280/880));
  padding: calc(100vw/(1280/67)) 0 calc(100vw/(1280/60));
  align-items: end;
}

@media screen and (max-width: 320px) {
  .footer {
    width: calc(100vw/(320/282));
    padding: calc(100vw/(320/48)) 0 calc(100vw/(320/36));
  }
}
